#header-title {
    font-size: 50px;
}

.icon{
    width: 35px;
    height: 35px;
}

#cart-button{
    cursor: pointer;
}

.total-count{
    margin-right: 80%;
}


#header-title{
    font-family: 'Satisfy', cursive;
}

.card-image{
    width: 100%;
    height: 200px;
}

.card{
    height: 100%;
    padding-bottom: 20%;
}

#page-title{
    text-align: center;
}

strong{
    font-size: 20px;
    position: absolute;
    bottom: 12%;
}

.add-cart{
    position: absolute;
    bottom: 2%;
}
